<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>servlets.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationUser</servlet-name>
        <servlet-class>servlets.RegistrationUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>servlets.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUser</servlet-name>
        <servlet-class>servlets.LoadUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationVolunteer</servlet-name>
        <servlet-class>servlets.RegistrationVolunteer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadIncidents</servlet-name>
        <servlet-class>servlets.LoadIncidents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIncident</servlet-name>
        <servlet-class>servlets.UpdateIncident</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIncidentDetails</servlet-name>
        <servlet-class>servlets.GetIncidentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddIncident</servlet-name>
        <servlet-class>servlets.AddIncident</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendPublicMessage</servlet-name>
        <servlet-class>servlets.SendPublicMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessages</servlet-name>
        <servlet-class>servlets.GetMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStatistics</servlet-name>
        <servlet-class>servlets.GetStatistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSeats</servlet-name>
        <servlet-class>servlets.CreateSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessagesUser</servlet-name>
        <servlet-class>servlets.GetMessagesUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRunningIncidents</servlet-name>
        <servlet-class>servlets.LoadRunningIncidents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadIncidentsUser</servlet-name>
        <servlet-class>servlets.LoadIncidentsUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendUserMessage</servlet-name>
        <servlet-class>servlets.SendUserMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateNearbyIncidents</servlet-name>
        <servlet-class>servlets.CalculateNearbyIncidents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserLocation</servlet-name>
        <servlet-class>servlets.GetUserLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadVolunteer</servlet-name>
        <servlet-class>servlets.LoadVolunteer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVolunteer</servlet-name>
        <servlet-class>servlets.UpdateVolunteer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetActiveIncidentsForVolunteers</servlet-name>
        <servlet-class>servlets.GetActiveIncidentsForVolunteers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptIncidentParticipation</servlet-name>
        <servlet-class>servlets.AcceptIncidentParticipation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendVolunteerMessage</servlet-name>
        <servlet-class>servlets.SendVolunteerMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessagesVolunteer</servlet-name>
        <servlet-class>servlets.GetMessagesVolunteer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVolunteerHistory</servlet-name>
        <servlet-class>servlets.GetVolunteerHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationUser</servlet-name>
        <url-pattern>/RegistrationUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUser</servlet-name>
        <url-pattern>/LoadUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationVolunteer</servlet-name>
        <url-pattern>/RegistrationVolunteer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadIncidents</servlet-name>
        <url-pattern>/LoadIncidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIncident</servlet-name>
        <url-pattern>/UpdateIncident</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIncidentDetails</servlet-name>
        <url-pattern>/GetIncidentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddIncident</servlet-name>
        <url-pattern>/AddIncident</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendPublicMessage</servlet-name>
        <url-pattern>/SendPublicMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessages</servlet-name>
        <url-pattern>/GetMessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStatistics</servlet-name>
        <url-pattern>/GetStatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSeats</servlet-name>
        <url-pattern>/CreateSeats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessagesUser</servlet-name>
        <url-pattern>/GetMessagesUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRunningIncidents</servlet-name>
        <url-pattern>/LoadRunningIncidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadIncidentsUser</servlet-name>
        <url-pattern>/LoadIncidentsUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendUserMessage</servlet-name>
        <url-pattern>/SendUserMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateNearbyIncidents</servlet-name>
        <url-pattern>/CalculateNearbyIncidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserLocation</servlet-name>
        <url-pattern>/GetUserLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadVolunteer</servlet-name>
        <url-pattern>/LoadVolunteer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVolunteer</servlet-name>
        <url-pattern>/UpdateVolunteer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActiveIncidentsForVolunteers</servlet-name>
        <url-pattern>/GetActiveIncidentsForVolunteers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptIncidentParticipation</servlet-name>
        <url-pattern>/AcceptIncidentParticipation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendVolunteerMessage</servlet-name>
        <url-pattern>/SendVolunteerMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessagesVolunteer</servlet-name>
        <url-pattern>/GetMessagesVolunteer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVolunteerHistory</servlet-name>
        <url-pattern>/GetVolunteerHistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
